In [1]:
import pandas as pd
import pandas_datareader as data
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [9]:
start_date = '1928-01-01'
end_date = '2022-08-01'
years = 30
tax = 0.2
init_amount = 1700000
monthly = 8000
result = {}
bottom = 0

data_source = 'yahoo'
sap500 = '^GSPC'
dow = '^DJI'

result_df = pd.DataFrame(columns = ['start_date','months_survive','survive'])

In [10]:
# pull raw data
cpi = data.DataReader("CPIAUCNS", "fred", start_date, end_date)
stock = data.DataReader(sap500, data_source, start_date, end_date)[['Close']]


# user merger and then fill in monthly from the previous close if possible else the next close
df = cpi.merge(stock, how='outer', left_index=True, right_index=True)
df[['Close']] = df[['Close']].fillna(method='ffill').fillna(method='bfill')

# remove non first month 
df.dropna(inplace=True)

# set placeholders
df['inflation'] = 0.0
df['change'] = 0.0
df.reset_index(inplace=True)
df.head()

       index  CPIAUCNS      Close  inflation  change
0 1928-01-01      17.3  17.760000        0.0     0.0
1 1928-02-01      17.1  17.530001        0.0     0.0
2 1928-03-01      17.1  17.299999        0.0     0.0
3 1928-04-01      17.1  19.280001        0.0     0.0
4 1928-05-01      17.2  19.780001        0.0     0.0

In [11]:
for i in range(len(df)):
    # skip the first iteration
    if i == 0: continue
    # update inflation
    p_cpi = df.at[i-1,'CPIAUCNS']
    c_cpi = df.at[i,'CPIAUCNS']
    df.at[i,'inflation']= (c_cpi - p_cpi)/p_cpi
    # update percent change
    p_close = df.at[i-1,'Close']
    c_close = df.at[i,'Close']
    df.at[i,'change'] = (c_close - p_close)/p_close

In [12]:
#last start index
lsi = int((len(df)- years*12)/12)
for s in range(lsi):
    s_date_i = s*12
    s_date = df.at[s_date_i,'index'].strftime('%Y_%m_%d')
    mnth = f'monthly_{s_date}'
    prcp = f'principle_{s_date}'
    df[mnth] = np.nan
    df[prcp] = np.nan
    k=0
    end = s_date_i + years*12 +1
    start = df.at[s_date_i,'index']
    for i in range(s_date_i,end):
        if k==0:
            df.at[i,mnth]= monthly
            df.at[i,prcp]= init_amount
            k+=1
            continue
        if i > len(df):
            break
        p = i-1
        # previous monthly * (1+inflation)
        p_m = df.at[p,mnth]
        c_i = df.at[i,'inflation']
        c_m = p_m*(1+c_i)
        df.at[i,mnth]= c_m
        # (previous principle*(1+change)) - current monthly
        p_p = df.at[p,prcp]
        p_c = df.at[p,'Close']
        c_c = df.at[i,'Close']
        change =  (c_c-p_c)/p_c
        c_p = p_p*(1+change)-c_m
        df.at[i,prcp]= c_p
        if c_p <= bottom or i == end-1:
            res = pd.DataFrame.from_dict({'start_date': [start], 'months_survive': [i-s_date_i], 'survive': [c_p > 0]})
            result_df = pd.concat([result_df,res], ignore_index=True)
            break
    df.drop(columns=[mnth], inplace=True)

In [13]:
df.head(20)

,index,CPIAUCNS,Close,inflation,change,principle_1928_01_01,principle_1929_01_01,principle_1930_01_01,principle_1931_01_01,principle_1932_01_01,...,principle_1982_01_01,principle_1983_01_01,principle_1984_01_01,principle_1985_01_01,principle_1986_01_01,principle_1987_01_01,principle_1988_01_01,principle_1989_01_01,principle_1990_01_01,principle_1991_01_01
0,1928-01-01,17.3,17.760000,0.000000,0.000000,2.000000e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1928-02-01,17.1,17.530001,-0.011561,-0.012950,1.966192e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1928-03-01,17.1,17.299999,0.000000,-0.013120,1.932487e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1928-04-01,17.1,19.280001,0.000000,0.114451,2.145754e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1928-05-01,17.2,19.780001,0.005848,0.025934,2.193448e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1928-06-01,17.1,20.070000,-0.005814,0.014661,2.217699e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1928-07-01,17.1,19.139999,0.000000,-0.046338,2.107028e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1928-08-01,17.1,19.420000,0.000000,0.014629,2.129944e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1928-09-01,17.3,20.870001,0.011696,0.074665,2.280977e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1928-10-01,17.2,21.360001,-0.005780,0.023479,2.326578e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1928-11-01,17.2,21.990000,0.000000,0.029494,2.387245e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1928-12-01,17.1,24.280001,-0.005814,0.104138,2.627941e+06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1929-01-01,17.1,24.350000,0.000000,0.002883,2.627610e+06,2.000000e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1929-02-01,17.1,25.840000,0.000000,0.061191,2.780488e+06,2.114382e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1929-03-01,17.0,25.830000,-0.005848,-0.000387,2.771551e+06,2.105610e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1929-04-01,16.9,24.879999,-0.005882,-0.036779,2.661801e+06,2.020262e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1929-05-01,17.0,25.990000,0.005917,0.044614,2.772694e+06,2.102441e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1929-06-01,17.1,24.830000,0.005882,-0.044633,2.641034e+06,2.000604e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1929-07-01,17.3,27.770000,0.011696,0.118405,2.945746e+06,2.229392e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1929-08-01,17.3,29.080000,0.000000,0.047173,3.076706e+06,2.326466e+06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
result_df

             start_date months_survive survive
0   1928-01-01 00:00:00            192   False
1   1929-01-01 00:00:00            145   False
2   1930-01-01 00:00:00            152   False
3   1931-01-01 00:00:00            191   False
4   1932-01-01 00:00:00            360    True
..                  ...            ...     ...
59  1987-01-01 00:00:00            360    True
60  1988-01-01 00:00:00            360    True
61  1989-01-01 00:00:00            360    True
62  1990-01-01 00:00:00            360    True
63  1991-01-01 00:00:00            360    True

[64 rows x 3 columns]

In [15]:
sum(result_df.survive)/len(result_df)

0.5

In [ ]:
# Need to fix

# title = f'principle = {init_amount}  withdrawals = {monthly}'
# yl='Principle [$]'

# df[['index','principle_1']].dropna().plot('index','principle_1', title=title, ylabel=yl)

128